// ==================== FONTS ========================
$base-font-family: "Inter UI", -apple-system, BlinkMacSystemFont,  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell","Fira Sans", "Droid Sans", "Helvetica Neue",sans-serif;
$interface-font-family: "Inter UI", -apple-system, BlinkMacSystemFont,  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell","Fira Sans", "Droid Sans", "Helvetica Neue",sans-serif;
$secondary-font-family: "Montserrat", -apple-system, BlinkMacSystemFont,  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell","Fira Sans", "Droid Sans", "Helvetica Neue",sans-serif;
$force-mac-font-family: -apple-system, BlinkMacSystemFont,"Inter UI",  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell","Fira Sans", "Droid Sans", "Helvetica Neue",sans-serif;

//Typography
$font-weight-bold: 500;
$headings-font-weight: 500;
$line-height-base: 1.6;
$font-family-base: $base-font-family;
$font-size-base: .9rem;

// ==================== Colors ========================
// Your theme colors
$theme-colors: (
        "primary":      #8994b3,
        "secondary":      #cb9f58,
        "success":      #73ff00,
        "info": #b8cec9,
        "warning":      #ffc800,
        "danger":      #ff2b00,
        "light": #efeded,
        "dark": #6c6c6c,
);

// Optionally, if you want to define colors individually
$primary:    map-get($theme-colors, "primary");
$secondary:  map-get($theme-colors, "secondary");
$success:    map-get($theme-colors, "success");
$info:       map-get($theme-colors, "info");
$warning:    map-get($theme-colors, "warning");
$danger:     map-get($theme-colors, "danger");
$light:      map-get($theme-colors, "light");
$dark:       map-get($theme-colors, "dark");

// ==================== Colors ========================

// ==================== Utilities ========================
// Background gradient utility for a primary to secondary gradient
.bg-gradient-primary-to-secondary {
  background: $primary;
  background: linear-gradient(135deg, $primary 0%, $secondary 100%);
}
// Utility for creating gradient text
// Note: When using gradient text, it is best utilized on
// text that has the position set to inline
.text-gradient {
  background: -webkit-linear-gradient(315deg, $primary 0%, $secondary 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
// Rounded Corners
$border-radius: 0.3rem;
$border-radius-lg: 0.3rem;
$border-radius-sm: 0.3rem;
// Soft borders
$border-width: 1px;
$border-color: rgba(0, 0, 0, 0.1);
// Box Shadows
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
$btn-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.075);
// Transition for smoother animations
$transition-base: all 0.3s ease-in-out;
// Color of the Progress Bar and Spinner
$color-loader: $secondary;
// ==================== Utilities ========================

